/* Remove margens padrões do navegador e trava o scroll */
html, body {
    margin: 0;
    padding: 0;
    width: 100vw; /* 100% da largura da janela */
    height: 100vh; /* 100% da altura da janela */
    overflow: hidden; /* MATA a barra de rolagem */
    background-color: #fbfbfb; /* Garante que o fundo seja cinza desde a raiz */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Garante que o container principal ocupe tudo */
#app {
    width: 100%;
    height: 100%;
}

